<%= @gossip.user.first_name%><br><br>
<%= @gossip.user.last_name%><br><br>
<a href="<%= user_path(id: @gossip.user.id) %>">En savoir plus sur l'auteur</a><br><br>
<%= @gossip.title%><br><br>
<%= @gossip.content%><br><br>
<%= @gossip.created_at%><br><br>
